<header class="header">
  <a routerLink="/">
    <img src="/assets/img/logo.svg" alt="лого компании медиалайн" class="header__logo"/>
  </a>

  <nav class="header__nav">
    <a routerLink="/" class="header__link">Главная</a>
    <a routerLink="/news" class="header__link">Новости</a>
    <a href="#about" class="header__link">О компании</a>
    <a href="#advantages" class="header__link">Преимущества</a>
    <a routerLink="/products" class="header__link">Продукция</a>
    <a href="#contacts" class="header__link">Контакты</a>
  </nav>

</header>

<header class="header-mob">
  <button class="header-mob__btn"></button>
  <a routerLink="/">
    <img src="/assets/img/logo.svg" alt="лого компании медиалайн" class="header-mob__logo"/>
  </a>
  <img class="overlay__search-img" src="/assets/img/search-dark.svg" alt="поисковая лупа" />

  <div class="header-mob__container">
    <a routerLink="/" class="header-mob__link">Главная</a>
    <a routerLink="/news" class="header-mob__link">Новости</a>
    <a href="#about" class="header-mob__link">О компании</a>
    <a href="#advantages" class="header-mob__link">Преимущества</a>
    <a routerLink="/products" class="header-mob__link">Продукция</a>
    <a href="#contacts" class="header-mob__link">Контакты</a>
  </div>
</header>