<section class="login">
  <h2 class="login__title">Вход</h2>
  <form class="login__form" [formGroup]="loginForm">

    <input id="email" formControlName="email" placeholder="email" class="login__input" required minlength="4"
      maxlength="40">
    <div class="login__error" *ngIf="loginForm.get('email')?.invalid">
      <span *ngIf="loginForm.get('email')?.['errors']?.['required']">Это поле не может быть пустым.</span>
      <span *ngIf="loginForm.get('email')?.['errors']?.['pattern']">Введите корректный e-mail</span>
    </div>


    <input formControlName="password" placeholder="Password" type="password" class="login__input" required
      maxlength="20">
    <div class="login__error" *ngIf="loginForm.get('password')?.invalid">
      <span *ngIf="loginForm.get('password')?.['errors']?.['required']">Это поле не может быть пустым.</span>
      <span *ngIf="loginForm.get('password')?.['errors']?.['minlength']">Пароль должен быть больше 8 символов.</span>
    </div>

    <div class="login__btns">
      <a routerLink="/" class="login__btn login__btn_back">Отмена</a>
      <button type="submit" class="login__btn" (click)="submitLogin()">Войти</button>
    </div>

  </form>
</section>


<div *ngIf="isOpenComplete" class="login__modal-overlay" (click)="changeVisibilityComplete()">
  <app-loading *ngIf="isOpenComplete && isLoad" ngClass="white"></app-loading>
</div>


<div *ngIf="isOpenComplete && !isLoad" class="login__modal-container">
  <h2 class="login__title">{{messageAfterLogin}}</h2>

  <div class="login__checkmark" [ngClass]="{'complete': this.isComplete}"></div>

  <div class="login__btns">
    <button class="login__btn" (click)="changeVisibilityComplete()">{{messageBtnAfterLogin}}</button>
  </div>
</div>