@font-face {
  font-family: "Arimo";
  src: url("./Arimo.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Arimo";
  src: url("./Arimo-Medium.ttf") format("ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Arimo";
  src: url("./Arimo-SemiBold.ttf") format("ttf");
  font-style: normal;
  font-weight: 600;
}
 
 