.loading {
  position: absolute;
  top: calc(50% - 2vw);
  left: calc(50% - 2vw);
  border: 8px solid #f3f3f300;
  border-top: 8px solid var(--blue);
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  animation: spin 1s linear infinite;

  &.white {
    border-top: 8px solid white;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}