<section *ngIf="isLogin">
  <div *ngIf="isOpenPanel" class="adminPanel__modal-overlay" (click)="this.changeVisibility()"></div>
  
  <div *ngIf="isOpenPanel" class="adminPanel__modal-container">
    <app-admin-panel-categories-create *ngIf="isCompleteGet"></app-admin-panel-categories-create>

    <app-admin-panel-categories-edit *ngIf="isCompleteGet"></app-admin-panel-categories-edit>
  </div>

  <div class="adminPanel__open-btns">
    <button class="adminPanel__btn" (click)="changeVisibility()">Изменить</button>
  </div>
</section>