<section class="manufacturers">
  <h2 class="title">Производители</h2>
  <div class="manufacturers__container">
    <img src="/assets/img/Group 5.png" alt="лого производителя"/>
    <img src="/assets/img/Group 7.png" alt="лого производителя"/>
    <img src="/assets/img/Group 8.png" alt="лого производителя"/>
    <img src="/assets/img/Group 6.png" alt="лого производителя"/>
    <img src="/assets/img/Group 9.png" alt="лого производителя"/>
    <img src="/assets/img/Group 10.png" alt="лого производителя"/>
  </div>
</section>