<footer class="footer">
  <div class="footer__container">
    <img src="/assets/img/logo-white.svg" alt="лого компании медиалайн" class="footer__logo"/>
    <span class="footer__logo-text">ООО «Группа МЕДИАЛАЙН»</span>
  </div>

  <ul class="footer__list footer__container">
    <a routerLink="/" class="footer__description footer__description_small">Главная</a>
    <a routerLink="/news" class="footer__description footer__description_small">Новости</a>
    <a href="#about" class="footer__description footer__description_small">О компании</a>
    <a href="#advantages" class="footer__description footer__description_small">Преимущества</a>
    <a routerLink="/products" class="footer__description footer__description_small">Продукция</a>
  </ul>

  <ul class="footer__list footer__container">
    <li class="footer__description">Главный офис: 603024, Нижний Новгород, улица Невзоровых, дом 87, офис 10</li>
    <li class="footer__description footer__description_small">Телефон: (831) 429-03-58</li>
    <li class="footer__description footer__description_small">Факс: (831) 421-52-57</li>
    <li class="footer__description footer__description_small">Email: kravchenko.andrey@mdlgroup.ru</li>
  </ul>

  <ul class="footer__list footer__container">
    <li class="footer__description">Филиал: 125008, Москва, <br> проезд Черепановых, дом 32</li>
    <li class="footer__description">Телефон: (499) 153-16-50, 154-97-35</li>
    <li class="footer__description footer__description_small">Факс: (499) 154-97-35</li>
  </ul>
</footer>