<section class="advantages" id="advantages">

  <h2 class="title">Преимущества</h2>

  <div class="advantages__container">
    <article class="advantages__item">
      <img class="advantages__item-img" src="/assets/img/рукопожатие.svg" alt="рукопожатие" />
      <span class="advantages__item-text text">Гарантируем 100% качество поставляемых товаров</span>
    </article>

    <article class="advantages__item">
      <img class="advantages__item-img" src="/assets/img/карта.svg" alt="карта" />
      <span class="advantages__item-text text">Вся продукция закупается напрямую</span>
    </article>

    <article class="advantages__item">
      <img class="advantages__item-img" src="/assets/img/глобус.svg" alt="глобус" />
      <span class="advantages__item-text text">Доставим в любую точку страны</span>
    </article>

    <article class="advantages__item">
      <img class="advantages__item-img" src="/assets/img/товар.svg" alt="товар" />
      <span class="advantages__item-text text">Постоянное наличие товара на складе</span>
    </article>
    
    <article class="advantages__item">
      <img class="advantages__item-img" src="/assets/img/дата.svg" alt="дата" />
      <span class="advantages__item-text text">Максимально возможные сроки годности товара</span>
    </article>

    <article class="advantages__item">
      <img class="advantages__item-img" src="/assets/img/таблетки.svg" alt="таблетки" />
      <span class="advantages__item-text text">Более 300 товарных позиций </span>
    </article>
  </div>
</section>