<section class="content">
  <app-admin-panel-product title="Создание товара" [typePanel]="allPanelTypes.ItemCreate"></app-admin-panel-product>
</section>

<section class="content catalogPage">
  <div class="catalogPage__sidebar">
    
    <div class="catalogPage__sidebar-container" *ngFor="let cat of categor">
      <button class="catalogPage__sidebar-item" *ngIf="!cat.subcategories" (click)="changeSort($event, cat)">{{cat.name}}</button>

      <button class="catalogPage__sidebar-item" *ngIf="cat.subcategories" (click)="openSubCat($event, cat)">{{cat.name}}</button>
      <button class="catalogPage__sidebar-item child" *ngFor="let catSub of cat.subcategories" (click)="changeSort($event, catSub)">{{catSub.name}}</button>
    </div>

    <app-admin-panel-categories></app-admin-panel-categories>

  </div>

  <div class="catalogPage__list">
    <app-loading *ngIf="isLoad"></app-loading>
    <app-product-card *ngFor="let product of this.products! | filterProduct:sortByType"
      [product]="product"></app-product-card>
  </div>

</section>