<section *ngIf="isLogin">
  <div *ngIf="isOpen" class="adminPanel">
    <h1 class="adminPanel__title">{{title}}</h1>

    <form class="adminPanel__form" [formGroup]="adminForm">

      <div>
        <p>Заголовок</p>
        <input placeholder="Заголовок" class="adminPanel__input" formControlName="title">
        <div class="adminPanel__err" *ngIf="adminForm.get('title')?.invalid">
          <span *ngIf="adminForm.get('title')?.['errors']?.['required']">Это поле не может быть пустым.</span>
          <span *ngIf="adminForm.get('title')?.['errors']?.['minlength']">Введите минимум 2 символа.</span>
          <span *ngIf="adminForm.get('title')?.['errors']?.['maxlength']">Максимум 60 символовю</span>
        </div>
      </div>

      <!-- <div>
        <p>Дата</p>
        <input placeholder="Дата" class="adminPanel__input" formControlName="time">
        <div class="adminPanel__err" *ngIf="adminForm.get('time')?.invalid">
          <span *ngIf="adminForm.get('time')?.['errors']?.['required']">Это поле не может быть пустым.</span>
          <span *ngIf="adminForm.get('time')?.['errors']?.['pattern']">Введите дату в формате 2024-12-12</span>
        </div>
      </div> -->

      <div>
        <p>Содержание</p>
        <textarea placeholder="Содержание" class="adminPanel__input adminPanel__input_textarea"
          formControlName="description"></textarea>
        <div class="adminPanel__err" *ngIf="adminForm.get('description')?.invalid">
          <span *ngIf="adminForm.get('description')?.['errors']?.['required']">Это поле не может быть пустым.</span>
          <span *ngIf="adminForm.get('description')?.['errors']?.['minlength']">Введите минимум 2 символа.</span>
        </div>
      </div>

      <div>
        <p>Комплектация</p>
        <textarea placeholder="Комплектация" class="adminPanel__input adminPanel__input_textarea"
          formControlName="packaging"></textarea>
        <div class="adminPanel__err" *ngIf="adminForm.get('packaging')?.invalid">
          <span *ngIf="adminForm.get('packaging')?.['errors']?.['minlength']">Введите минимум 2 символа.</span>
        </div>
      </div>

      <div>
        <p>Особенности</p>
      <textarea placeholder="Особенности" class="adminPanel__input adminPanel__input_textarea"
        formControlName="specials"></textarea>
      <div class="adminPanel__err" *ngIf="adminForm.get('specials')?.invalid">
        <span *ngIf="adminForm.get('specials')?.['errors']?.['minlength']">Введите минимум 2 символа.</span>
      </div>
    </div>

      <div>
        <p>Категория</p>
        <select class="adminPanel__input adminPanel__input_select" formControlName="categoryId">
          <option *ngFor="let cat of categoriesAll" [ngValue]="cat.name">
            {{ cat.name }}
          </option>
        </select>
        <div class="adminPanel__err" *ngIf="adminForm.get('categoryId')?.invalid">
          <span *ngIf="adminForm.get('categoryId')?.['errors']?.['required']">Это поле не может быть пустым.</span>
        </div>
      </div>

      <div *ngIf="this.typePanel == allTypesPanel.ItemCreate">
        <p>Изображение</p>
        <input type="file" class="adminPanel__input" formControlName="image" (change)="changeFile($event)" />
        <div class="adminPanel__err" *ngIf="adminForm.get('image')?.invalid">
          <span *ngIf="adminForm.get('image')?.['errors']?.['required']">Это поле не может быть пустым.</span>
        </div>
      </div>

      <div *ngIf="this.typePanel == allTypesPanel.ItemEdit">
        <p>Изменить изображение <u><i>(необязательно)</i></u></p>
        <input type="file" class="adminPanel__input" formControlName="imageEdit" (change)="changeFile($event)" />
      </div>

      <div class="adminPanel__btns">
        <button (click)="changeVisibility()" class="adminPanel__btn adminPanel__btn_back">Отмена</button>

        <button *ngIf="this.typePanel == allTypesPanel.ItemCreate" class="adminPanel__btn"
          (click)="this.submitCreate()">Создать</button>
        <button *ngIf="this.typePanel == allTypesPanel.ItemEdit" class="adminPanel__btn"
          (click)="this.submitEdit()">Редактировать</button>

        <button *ngIf="this.typePanel == allTypesPanel.ItemEdit" class="adminPanel__btn adminPanel__btn_delete"
          (click)="this.changeVisibilityDelete()">Удалить</button>
      </div>
    </form>
  </div>


  <div *ngIf="!isOpen" class="adminPanel__open-btns">
    <button class="adminPanel__btn" (click)="changeVisibility()">Открыть админ панель</button>
  </div>
</section>


<!-- модалка удаления -->
<div *ngIf="this.isOpenDelete" class="adminPanel__modal-overlay" (click)="this.changeVisibilityDelete()"></div>
<div *ngIf="this.isOpenDelete" class="adminPanel__modal-container">
  <h2 class="adminPanel__title">Вы действительно хотите удалить?</h2>

  <div class="adminPanel__btns">
    <button (click)="changeVisibilityDelete()" class="adminPanel__btn adminPanel__btn_back">Отмена</button>
    <button class="adminPanel__btn adminPanel__btn_delete" (click)="this.delete()">Удалить</button>
  </div>
</div>