/* :root {
  margin: 0;
  padding: 0;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  color: var(--dark-text);
  background: var(--light-blue);

  --blue: #2A5199;
  --blue-clear: rgba(42, 81, 153, 0.8);
  --light-blue: #F4F8FF;
  --light-gray: #FEFEFE;


  --gray-text: #656565;
  --white-text: #ffffff;
  --light-gray-text: #EAEEF5;
  --dark-text: #000A1D;
} */