<section class="content" *ngIf="isComplete">
  <app-admin-panel-product 
    title="Редактирование товара" 
    [typePanel]="allPanelTypes.ItemEdit"
    [product]="this.product">
  </app-admin-panel-product>
</section>

<div class="catalogItem content" *ngIf="isComplete">

  <h1 class="catalogItem__title title">{{product.title}}</h1>

  <div class="catalogItem__container">
    <img *ngIf="product.imagePath" class="catalogItem__img" src="http://localhost:8080/image/{{product.imagePath}}" alt="{{product.title}}">
    <!-- <img *ngIf="product.imagePath" class="catalogItem__img" src="/image/{{product.imagePath}}" alt="{{product.title}}"> -->
    <img *ngIf="!product.imagePath" class="catalogItem__img" src="/assets/img/zaglushka.png" alt="{{product.title}}">

    <h2 class="catalogItem__subtitle" *ngIf="product.specials">Особенности</h2>
    <ul class="catalogItem__list" *ngIf="product.specials">
      <li class="catalogItem__listItem text" *ngFor="let specials of product.specials.split('\n')">
        {{specials}}
      </li>
    </ul>

    <h2 class="catalogItem__subtitle" *ngIf="product.packaging">Комплектация</h2>
    <ul class="catalogItem__list" *ngIf="product.packaging">
      <li class="catalogItem__listItem text" *ngFor="let packaging of product.packaging.split('\n')">
        {{packaging}}
      </li>
    </ul>

    <h2 class="catalogItem__subtitle">Описание</h2>
    <p class="catalogItem__text text" *ngFor="let p of product.description.split('\n')">{{p}}</p>
  </div>

</div>


<!-- 
<h2 class="newspage__title title">{{news.title}}</h2>
<div class="newspage__container">
  <img class="newspage__img"  src="{{news.imagePath}}" alt="фото с мероприятия">
  <h3 class="newspage__subtitle title">{{news.time}}</h3>
  <p class="newspage__text text" *ngFor="let p of news.text.split('\n')">{{p}}</p>
</div> -->