<!-- Под вопросом! НЕ ЮЗАТЬ! -->

<div *ngIf="resService.isOpenAfterSubmit && isBack" class="modalRes__modal-overlay" (click)="changeVisibilityAfterSubmit()">
  <app-loading *ngIf="resService.isOpenAfterSubmit && resService.isLoad" ngClass="white"></app-loading>
</div>


<div *ngIf="resService.isOpenAfterSubmit && !resService.isLoad" class="modalRes__modal-container">
  <h2 class="modalRes__title">{{resService.resText}}</h2>

  <div class="modalRes__checkmark" [ngClass]="{'complete': resService.isComplete}"></div>

  <div class="modalRes__btns">
    <button class="modalRes__btn" (click)="changeVisibilityAfterSubmit()">{{resService.resBtn}}</button>
  </div>
</div>