<!-- Под вопросом! НЕ ЮЗАТЬ! -->

<!-- <div *ngIf="isOpenAfterSubmit" class="login__modal-overlay" (click)="changeVisibilityAfterSubmit()">
  <app-loading *ngIf="isOpenAfterSubmit && isLoad" ngClass="white"></app-loading>
</div>

<div *ngIf="isOpenAfterSubmit && !isLoad" [(ngModel)]="isOpenAfterSubmit || isLoad" class="modalRes__modal-container">
  <h2 class="modalRes__title">{{messageAfterSubmit}}</h2>

  <div class="modalRes__checkmark" [ngClass]="{'complete': this.isComplete}"></div>

  <div class="modalRes__btns">
    <button class="modalRes__btn" (click)="changeVisibilityAfterSubmit()">{{messageBtnAfterSubmit}}</button>
  </div>
</div> -->