<section class="about" id="about">
  <div class="about__container">
    <h3 class="title">О нас</h3>
    <p class="about__text text">MEDIALINE Group является единственным в России специализированным дистрибьютором, владеющим полным портфелем контрактов со всеми основными иностранными и российскими производителями продуктов, систем и комплексных решений для диагностики и лечения сахарного диабета.</p>
    <button class="about__btn">Задать вопрос</button>
  </div>
  <img class="about__img" src="/assets/img/doctor-checking-patient-side-view 1-min.png" alt="доктор берет анализ на сахар"/>
</section>