<section *ngIf="isLogin">
  <div *ngIf="isOpen" class="adminPanel">
    <h1 class="adminPanel__title">{{title}}</h1>

    <form class="adminPanel__form" [formGroup]="adminForm">
      <div *ngFor="let control of controls">

        <input *ngIf="control.type == 'text'" formControlName="{{control.control}}"
          placeholder="{{control.placeholder}}" class="adminPanel__input" type="text" />

        <input *ngIf="control.type == 'file'" formControlName="{{control.control}}"
          placeholder="{{control.placeholder}}" class="adminPanel__input" type="file" />

        <textarea *ngIf="control.type == 'textarea'" formControlName="{{control.control}}"
          placeholder="{{control.placeholder}}" class="adminPanel__input adminPanel__input_textarea"></textarea>

      </div>

      <div class="adminPanel__btns">
        <button (click)="changeVisibility()" class="adminPanel__btn adminPanel__btn_back">Отмена</button>

        <button class="adminPanel__btn" type="submit" (click)="submit()" *ngIf="this.typePanel === '0'">Создать</button>

        <button class="adminPanel__btn" type="submit" (click)="submit()"
          *ngIf="this.typePanel === '1'">Редактировать</button>
        <button class="adminPanel__btn adminPanel__btn_delete" *ngIf="this.typePanel === '1'">Удалить</button>
      </div>
    </form>
  </div>

  <div *ngIf="!isOpen" class="adminPanel__open-btns">
    <button class="adminPanel__btn" (click)="changeVisibility()">Открыть админ панель</button>
  </div>
</section>