.newspage {
  &__container {
    width: 100%;
    float: left;
    margin-bottom: 100px;
  }

  &__title {}

  &__subtitle {
    text-indent: 30px;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 20px 0;
    padding: 0;
  }

  &__img {
    float: left;
    min-width: 40%;
    max-width: 40%;
    margin: 0 50px 30px 0;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 0px #00000033;
  }

  &__text {
    display: block;
    text-indent: 30px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .newspage {
    &__container {
      width: calc(100% - 40px);
      margin: 0 20px 60px 20px;
      float: left;
    }

    &__subtitle {
      text-indent: 0;
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 15px 0;
    }

    &__img {
      min-width: 100%;
      max-width: 100%;
    }

    &__text {
      text-indent: 0;
      margin-bottom: 15px;
    }
  }
}