<section class="newspage content">
  <app-admin-panel
    [controls]="this.adminPanelControls"
    title="Редактирование новости"
    typePanel="{{adminPanelType}}"
    typeItem="{{adminPanelItemType}}"
    [item]="this.news"
    class="content"
  ></app-admin-panel>


  <h2 class="newspage__title title">{{news.title}}</h2>
  <div class="newspage__container">
    <img class="newspage__img"  src="{{news.imagePath}}" alt="фото с мероприятия">
    <h3 class="newspage__subtitle title">{{news.time}}</h3>
    <p class="newspage__text text" *ngFor="let par of news.text.split('ENTER')">{{par}}</p>
    <!-- <p class="newspage__text text">{{news.text}}</p> -->
  </div>
</section>