<!-- <section *ngIf="this.news.title == ''" class="content">
  <a routerLink="/" class="newspage__title newspage__title_err">Такой новости не существует. Вернитесь на гланую.</a>
</section> -->

<section class="newspage content" *ngIf="isComplete">
  
  <app-admin-panel-news
    title="Редактирование новости"
    [typePanel]="panelTypes.ItemEdit"
    [news]="this.news"
  ></app-admin-panel-news>


  <h2 class="newspage__title title">{{news.title}}</h2>
  <div class="newspage__container">
    <img class="newspage__img"  src="http://localhost:8080/image/{{news.imagePath}}" alt="фото с мероприятия">
    <!-- <img class="newspage__img"  src="/image/{{news.imagePath}}" alt="фото с мероприятия"> -->
    <h3 class="newspage__subtitle title">{{news.time}}</h3>
    <p class="newspage__text text" *ngFor="let p of news.text.split('\n')">{{p}}</p>
  </div>

</section>